@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700&display=swap');

.hero_section{
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.info {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}


.info_about  {
    flex: 1;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 5em;
    background: -webkit-linear-gradient(#3b8d99,#6b6b83, #aa4b6b);
    /* background: white; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

.info_about > span{
    color:white;
}


.info_image {
    flex: 0.5;
    float: right;
    display: flex;
    justify-content: center;
    z-index: 6;
}

.info_about > p {
    flex: 0.5;
    font-size: 23px;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 9rem;
    font-weight: 100;
    word-spacing: 2px;
    /* font-family: 'Lobster Two', cursive; */
}

.info_image > img {
    flex: 0.5;
    width: 400px;
}



@media screen and (max-width: 992px) {
    .hero_section{
        height: 60vh
    }
    .info {
        margin: 1rem;
    }
    .info_image {
        display: none;
    }
    
    .info_about  {
        flex: 1;
    font-size: 2.5em;

    }

  }

  
  @media screen and (max-width: 600px) {
    .hero_section{
        height: 50vh
    }
    .info {
        margin: 1rem;
    }
    .info_image {
        display: none;
    }
    
    .info_about  {
        flex: 1;
    }
    .info_about > p {
        font-size: 18px;
        padding: 1.5rem;
    }
  }
