body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #001220;

  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 0.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #18212f;
}

::-webkit-scrollbar-thumb {
  background: #2e2c77;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 35, 78);
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
