.Main{
 padding-bottom: 2rem;
}

.section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center
    min-height 400px;
    padding:100px 20vw ;
  }
  
  .blue{
    background: #c62368; ;
  }
  
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .spacer{
    aspect-ratio: 960/190;
    width: 100% ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover ;
    position:absolute;
  }
  
  
  .space{
    aspect-ratio: 960/330;
    width: 100% ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover ;
  }
  
  .layer1{
    background-image: url(./media/wave1.svg);
  }
  .layer2{
    background-image: url(./media/wave2.svg);
  }
  .layer3{
    background-image: url(./media/heroWaves.svg);
  }
  .wave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 312px;
  }
  
  .wave .shape-fill {
    fill: #FFFFFF;
  }